#cv-preview {
  margin: 20px 70px 0 70px;
}

.preview {
  border-top: 1px solid;
  border-left: 1px solid;
}

.select {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

.center {
  text-align: center;
}
